.sns {
  color: #11319a;

  a {
    padding-bottom: 2px;
    border-bottom: 1px solid #2f53c8;
  }
}

.aboutMe_wrapper {
  margin-right: 20px;
}
.aboutIcon {
  max-width: 350px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.29);
  border-radius: 50%;
  @media screen and (max-width: 780px) {
    max-width: 200px;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  p {
    border-bottom: 1px solid #1f4470;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .contact_btn {
    background: -webkit-linear-gradient(0deg, #11319a, #3078c8);
    color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 12px;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.3s ease;
    font-size: 15px;
    width: 200px;
    font-weight: bold;
    margin-top: 30px;
  }
}
