.service {
  background-color: white;
  padding: 50px;
  @media screen and (max-width: 730px) {
    padding: 30px;
  }

  h2 {
    margin: 0;
    padding: 50px 0 20px 0;
    font-size: 40px;
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #11319a, #3078c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
}

.serviceInner {
  max-width: 1200px;
  padding: 50px 0px;
  margin: 0 auto;
}

.serviceCard {
  background: -webkit-linear-gradient(0deg, #285aac, #11319a);
  border-radius: 15px;
  padding: 30px 50px;
  //   height: 450px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.29);
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
  //   align-items: center;
  color: white;
  @media screen and (max-width: 1000px) {
    padding: 30px 30px;
    gap: 10px;
  }
  @media screen and (max-width: 860px) {
    grid-template-columns: 1fr;
  }
  img {
    @media screen and (max-width: 860px) {
      width: 250px;
      margin: 0 auto;
    }
  }
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
    @media screen and (max-width: 860px) {
      text-align: center;
    }
  }
}

.serviceCard2 {
  background: -webkit-linear-gradient(0deg, #285aac, #11319a);
  border-radius: 15px;
  padding: 30px 50px;
  //   height: 450px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.29);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
  //   align-items: center;
  color: white;
  .serviceDetails {
    max-width: 720px;
  }
  @media screen and (max-width: 1000px) {
    padding: 30px 30px;
    gap: 10px;
  }
  @media screen and (max-width: 860px) {
    grid-template-columns: 1fr;
    flex-direction: column-reverse;
  }
  .imgContent {
    max-width: 360px;
    @media screen and (max-width: 860px) {
      width: 250px;
      margin: 0 auto;
    }
  }
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
    @media screen and (max-width: 860px) {
      text-align: center;
    }
  }
}
