.worries {
  background-color: #f4faff;
  max-height: 1400px;
  padding: 50px;
  @media screen and (max-width: 730px) {
    padding: 30px;
  }

  h2 {
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #11319a, #3078c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: 760px) {
      font-size: 35px;
    }
  }
  .worries_inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 850px) {
      flex-flow: column;
      justify-content: center;
    }
  }
  .worries_img {
    width: 40%;
    position: relative;
    @media screen and (max-width: 850px) {
      width: 350px;
    }
    @media screen and (max-width: 400px) {
      width: 280px;
    }
  }
  .worriesList {
    width: 58%;
    @media screen and (max-width: 850px) {
      width: 100%;
    }
  }
  .worriesItem {
    background-color: #49638b;
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 30px;
    @media screen and (max-width: 850px) {
      font-size: 16px;
    }
  }
}
