.postTab {
  margin-top: 40px;
  background: #235c9b;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  color: #fff;
}

.postTab .tab1,
.postTab .tab3 {
  border-right: 1px solid #eaeaea;
}

.postTab .tab3,
.postTab .tab4 {
  border-top: 1px solid #eaeaea;
}

.postTab > div.tab-active {
  background: var(--wp--preset--color--sango-main);
  color: #fff;
}

.postTab > div:last-of-type {
  border-right: none;
}

.postTab > div {
  cursor: pointer;
  padding: 0.8em 0.2em;
  vertical-align: middle;
  width: 50%;
}

.post {
  display: none;
}

.post__inner {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.postMain {
  margin-top: 5em;
}

@keyframes fadeInAndSlideUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.show {
  display: block;
  animation-name: fadeInAndSlideUp;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.selected{
  background-color: #173c68;
  transition: .3S;
}

@media screen and (max-width: 780px) {
  .content {
    padding: 0 8px;
  }
  .content__inner {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .post__inner {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

.more_btn_inner{
  margin: 35px auto 0;
  width: fit-content;
}
