.tableContainer {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%; /* 必要に応じて調整 */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  min-width: 650px;
  @media screen and (max-width: 850px) {
    width: 1000px;
  }
  @media screen and (max-width: 650px) {
    width: 600px;
  }
}

.headerCell {
  padding: 10px;
}

.jamstackHeader {
  padding: 10px;
  background-color: #2178db;
  color: #ffffff;
  height: 80px;
}

.traditionalHeader {
  padding: 10px;
  background-color: #c7c7c7;
  height: 80px;
  width: 40%;
}

.labelCell {
  padding: 10px;
  // width: 20%;
  font-weight: bold;
  color: #114886;
  @media screen and (max-width: 650px) {
    font-size: 13px;
    // width: 5%;
    padding: 5px;
}
}

.jamstackCell {
  padding: 15px;
  background-color: #c1daff;
  height: 90px;
  text-align: start;
  @media screen and (max-width: 650px) {
    font-size: 15px;
}
}

.traditionalCell {
  padding: 15px;
  background-color: #eaeaea;
  height: 90px;
  text-align: start;
}

.contentBlock {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.iconWrapper {
  width: 45px;
  margin: 0;
}

.text {
  margin: 0;
}
