.about {
  text-align: center;
  padding: 50px;
  @media screen and (max-width: 730px) {
    padding: 10px;
  }

  h2 {
    margin: 0;
    padding: 50px 0 20px 0;
    font-size: 40px;
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #11319a, #3078c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .aboutDescription {
    max-width: 700px;
    margin: 0 auto;
  }
  &_inner {
    max-width: 1200px;
    padding: 50px 0px;
    margin: 0 auto;
  }
}

.cardContainer {
  max-width: 1200px;
  padding: 30px 0px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 860px) {
    flex-flow: column;
    gap: 30px;
  }
}

.card {
  width: 45%;
  height: 650px;
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  @media screen and (max-width: 860px) {
    width: 100%;
  }
}

.rightIcon {
  @media screen and (max-width: 860px) {
    transform: rotate(90deg);
  }
}

.cardHeader {
  background-color: #4c4c4c;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.cardContent {
  padding: 30px;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  @media screen and (max-width: 650px) {
    padding: 20px;
  }
}

.breack{
  display: none;
  @media screen and (max-width: 650px) {
    display: block;
  }
}

.diagram {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  max-width: 450px;
  gap: 10px;
  align-items: center;
  padding: 50px;
  padding-top: 0;
  margin: 0 auto;
  @media screen and (max-width: 430px) {
    padding: 40px;
    padding-left: 50px;
  }
  @media screen and (max-width: 400px) {
    // padding: 40px;
  }
}
.diagram .box {
  padding: 8px;
  border-radius: 8px;
  width: 100%;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
// .arrow svg {
//   width: 100px;
// }
.box img {
  max-width: 100px;
  margin-bottom: 10px;
}
.box span {
  display: inline-block;
  font-size: 10px;
  margin-top: 10px;
  background-color: #35517f;
  color: #ffffff;
  padding: 5px 5px;
  border-radius: 10px;
  @media screen and (max-width: 430px) {
    font-size: 7px;
  }
}

.mainColor {
  background: -webkit-linear-gradient(0deg, #11319a, #3078c8);
}

.overview {
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 50px;
  @media (max-width: 780px) {
    padding: 20px;
  }
  h3 {
    text-align: left;
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #11319a, #3078c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
  }

  .techBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    @media screen and (max-width: 860px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 580px) {
      grid-template-columns: 1fr;
    }
  }
  .techCard {
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    .techCardTitle {
      background: -webkit-linear-gradient(0deg, #11319a, #3078c8);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      font-size: 20px;
    }
    img {
      width: 60%;
      object-fit: cover;
      padding-top: 25px;
    }
  }
}
