:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F4F4F4;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

main{
      padding-right:2em;
      width: calc(100% - 2em);
  }

  @media screen and (max-width:780px) {

    main{
        padding-right: 0;
    }
  }

  .content {
    margin-top: 2em;
    padding: 0 3em;
    padding-bottom: 100px;
  }
  
  .content__inner {
    display: flex;
    max-width: 1180px;
    margin: 30px auto;
  }

  @media screen and (max-width: 780px) {
    .content {
      padding: 0 8px;
    }
    .content__inner {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
    main {
      padding-right: 0;
    }
  }

  .swiper-slide img {
    object-fit: cover;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

