.fv_inner {
  position: relative;
}

.main {
  position: absolute;
  top: 32%;
  width: 100%;
  // max-width: 1180px;
  // margin: 0 auto;
  @media screen and (max-width: 760px) {
    top: 54%;
  }
  &_inner {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
  }
}

.main_title {
  font-size: 96px;
  background: -webkit-linear-gradient(0deg, #1e62af, #11319a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  line-height: 100px;
  letter-spacing: 0.15rem;
  @media screen and (max-width: 760px) {
    font-size: 50px;
    line-height: 50px;
  }
}

.sub_title {
  font-size: 16px;
  margin-top: 25px;
  letter-spacing: 0.15rem;
  @media screen and (max-width: 760px) {
    font-size: 15px;
  }
}

.title_eng {
  font-size: 34px;
  color: #11319a;
  font-weight: bold;
  margin-bottom: 0;
}

.title {
  color: #11319a;
  font-weight: bold;
}

.section {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 50px;
  padding-bottom: 100px;
  box-shadow: 0px 30px 80px rgba(36, 57, 69, 0.15);
  @media screen and (max-width: 780px) {
    padding: 30px;
  }
}

.service {
  margin: 0 auto;
  max-width: 1180px;
}

.service_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 20px;
  @media screen and (max-width: 760px) {
    grid-template-columns: 1fr;
  }
}

.box {
  // margin-top: 40px;
  position: relative;
  font-size: 20px;
  color: #235c9b;
  padding: 20px;
  min-height: 200px;
  border-radius: 8px;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  border: 1px solid #dbdbdb;

  .more_icon {
    // width: 40px;
    // display: flex;
    float: right;
    margin-top: 20px;
    visibility: hidden;
  }
  .service_title {
    display: flex;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 430px) {
      flex-direction: column;
    }
  }
  &:hover {
    transform: translateY(-3px);
    border: 1px solid #cbd5f9;
    .more_icon {
      // width: 40px;
      visibility: visible;
    }
  }

  .icon {
    display: flex;
    flex-shrink: 0;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60px;
    z-index: 2;
    gap: 60px;
    border-radius: 100px;
    color: #ffffff;

    background: -webkit-linear-gradient(0deg, #2470c6, #11319a);
    box-shadow: 1px 5px 8.5px #08527d41;
    transition: 0.3s;
    @media screen and (max-width: 780px) {
      height: 80px;
      width: 80px;
      transition: transform 0.3s;
    }

    &::after {
      border-radius: 100vmax;
      content: "";
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transition: opacity var(--transition), transform var(--transition);
      width: 100%;
    }
  }

  .discription {
    padding-top: 25px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
  //   box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.29);
}

.blog {
  //   max-width: 1180px;
  background: -webkit-linear-gradient(90deg, #184f8e, #11319a);
  padding: 0 3em;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 30px 80px rgba(36, 57, 69, 0.15);
  @media screen and (max-width: 780px) {
    padding: 30px;
  }

  .title {
    text-align: center;
    color: #ffffff;
  }
  .title_eng {
    text-align: center;
    color: #ffffff;
  }
}

.blog_inner {
  max-width: 1180px;
  margin: 0 auto;
}

.blog_content {
  display: flex;
  gap: 30px;
  padding-top: 30px;
  @media screen and (max-width: 760px) {
    flex-direction: column;
  }
}

.blogMoreContent {
  display: flex;
  justify-content: end;

  a {
    width: fit-content;
    display: block;
  }
}

.blog_btn {
  // background: -webkit-linear-gradient(0deg, #11319a, #3078c8);
  color: #ffffff;
  padding: 10px 10px;
  letter-spacing: 1px;
  transition: 0.3s ease;
  width: fit-content;
  font-weight: bold;
  margin-top: 30px;
  border-bottom: 1px solid #ffffff;
  margin-top: 30px;
}

.aboutMe {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 3em;
  padding-top: 134px;
  padding-bottom: 130px;
  display: flex;
  gap: 20px;
  align-items: center;
  .sns {
    color: #11319a;

    a {
      padding-bottom: 2px;
      border-bottom: 1px solid #2f53c8;
    }
  }

  @media screen and (max-width: 780px) {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;

    img {
      max-width: 200px;
    }
  }
  .aboutMe_wrapper {
    margin-right: 20px; /* 画像とテキストの間のスペースを設定 */
  }
  .aboutIcon {
    max-width: 350px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.29);
    border-radius: 50%;
    @media screen and (max-width: 780px) {
      max-width: 200px;
    }
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    // gap: 10px; /* テキスト行の間隔を設定 */
    p {
      border-bottom: 1px solid #1f4470;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    .contact_btn {
      background: -webkit-linear-gradient(0deg, #11319a, #3078c8);
      color: #ffffff;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      padding: 10px 12px;
      text-align: center;
      border-radius: 10px;
      letter-spacing: 1px;
      transition: 0.3s ease;
      font-size: 15px;
      width: 200px;
      font-weight: bold;
      margin-top: 30px;
    }
  }
}

.about {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 3em;
  padding-top: 134px;
  padding-bottom: 134px;
  color: #ffffff;
  @media screen and (max-width: 500px) {
  }
}

.about_content {
  background: -webkit-linear-gradient(0deg, #184f8e, #11319a);
  border-radius: 15px;
  padding: 50px 80px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.29);
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 780px) {
    flex-direction: column;
    align-items: end;
    gap: 40px;
    padding: 30px 40px;
  }
  @media screen and (max-width: 500px) {
    padding: 25px;
  }
  .about_title {
    padding-bottom: 30px;
  }
  .title_eng {
    color: #ffffff;
  }
  .title {
    color: #ffffff;
    font-size: 34px;
  }
  .arrow {
    display: flex;
    flex-shrink: 0;
    height: 170px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 170px;
    z-index: 2;
    gap: 60px;
    @media screen and (max-width: 780px) {
      height: 80px;
      width: 80px;
      transition: transform 0.3s;
    }
    .arrow_icon {
      transition: transform 0.3s;
    }
    &:hover {
      .arrow_icon {
        transform: translateX(6px);
      }
    }
    &::before {
      border: 2px solid;
      border-radius: 100vmax;
      content: "";
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transition: opacity var(--transition), transform var(--transition);
      width: 100%;
    }
  }
}
