.section {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 50px;
  padding-bottom: 100px;
  box-shadow: 0px 30px 80px rgba(36, 57, 69, 0.15);
  @media screen and (max-width: 780px) {
    padding: 30px;
  }
}

.blog {
  background: -webkit-linear-gradient(90deg, #184f8e, #11319a);
  padding: 0 3em;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 30px 80px rgba(36, 57, 69, 0.15);
  @media screen and (max-width: 780px) {
    padding: 30px;
  }
}

.aboutMe {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 3em;
  padding-top: 134px;
  padding-bottom: 130px;
  display: flex;
  gap: 20px;
  align-items: center;
  @media screen and (max-width: 780px) {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;

    img {
      max-width: 200px;
    }
  }
}