.post__moreBtn{
    background-color: #235C9B;
    color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 13px 23px;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: 0.3s ease;
}